
bin/kide-i3.sh
bin/life.py
bin/open-kak.py
bin/open_kak.sh
bin/pony-project
bin/tree_tools.py
bin/trees.py
bin/xmonadctl
.config/awesome/rc.lua.old
.config/awesome/rc.lua.old2
.config/thefuck/__pycache__
.config/thefuck/rules/__pycache__
